body {
    background: url("https://img.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg?w=1060&t=st=1699173101~exp=1699173701~hmac=14bf0fe34b023ae81f71391eca756bac8e0b06022b9d08ca8cb06780a14e420d") no-repeat center center fixed;
    background-size: cover;
}
a {
    justify-content: center;
    margin: 30px;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Trebuchet MS';
}
div {
    width: 370px;
    margin: 100px;
}
h1 {
    color: rgb(4, 160, 7);
    margin: 0px;
}
h2 {
    color: rgb(109, 143, 7);
    margin: 0px;
}
p {
    margin: 0px;
}